---
layout: default
title: About
section_id: about
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
testimonials:
  - quote: I don't have that much time to monitor hundreds of stocks everyday
    author:  
  - quote: I am an experienced trader, looking for new strategy to boost my income
    author:  
  - quote: I want to invest in a stock market. I just don't know where to start
    author:  
---


<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="IMPOWERED PRODUCT" %}
      <div class='spacing'></div>
      <p class='centered-text'>
        <b> AT IMPOWERED WE BELIEVE THAT “GREAT” TRADING STRATEGY FOR YOU IS ONE THAT ALLOWS YOU TO FOCUS ON MAKING THE BEST POSSIBLE PROFIT WHILE TAKING AWAY YOUR BURDEN COMPLETELY. TRADE SMART LIKE NEVER BEFORE. </b>
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
  <div class='two spacing'></div>
</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "title": "S&P 500",
      "proName": "OANDA:SPX500USD"
    },
    {
      "description": "NASDAQ COMPOSITE",
      "proName": "NASDAQ:IXIC"
    },
    {
      "description": "NYSE",
      "proName": "NYSE:NYA"
    },
    {
      "description": "RUSSELL 2000",
      "proName": "RUSSELL:RUT"
    },
    {
      "description": "GOLD",
      "proName": "FOREXCOM:XAUUSD"
    },
    {
      "description": "CRUDE OIL",
      "proName": "TVC:USOIL"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-8 medium-8 columns'>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_2a670"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
        "width": 1000,
        "height": 610,
        "symbol": "NASDAQ:AAPL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "Light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "withdateranges": true,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "news": [
          "headlines"
        ],
        "show_popup_button": true,
        "popup_width": "1000",
        "popup_height": "650",
        "container_id": "tradingview_2a670"
      }
        );
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <div class='large-4 medium-4 columns'>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Fundamental Data</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-financials.js" async>
        {
        "symbol": "NASDAQ:AAPL",
        "colorTheme": "light",
        "isTransparent": false,
        "largeChartUrl": "",
        "displayMode": "regular",
        "width": 480,
        "height": 830,
        "locale": "en"
      }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
</div>

{% include our-customers.html %}