---
layout: default
title: About
section_id: about
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
testimonials:
  - quote: I don't have that much time to monitor hundreds of stocks everyday
    author:  
  - quote: I am an experienced trader, looking for new strategy to boost my income
    author:  
  - quote: I want to invest in a stock market. I just don't know where to start
    author:  
---

<div class='full parallax' style='background-image: url(images/impbackground.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="IMP filter" color="#fff" tagline="version 1.1.03" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "title": "S&P 500",
      "proName": "OANDA:SPX500USD"
    },
    {
      "description": "DOW JONES",
      "proName": "DJ:DJI"
    },
    {
      "description": "NYSE",
      "proName": "NYSE:NYA"
    },
    {
      "description": "RUSSELL 2000",
      "proName": "RUSSELL:RUT"
    },
    {
      "description": "GOLD",
      "proName": "FOREXCOM:XAUUSD"
    },
    {
      "description": "CRUDE OIL",
      "proName": "TVC:USOIL"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns centered-text'>
      {% include section-header.html title="Hand-Picked Stock of the Week" %}
      <div class='spacing'></div>
      <p>
        Stocks picked and Traded by Impowered team for every week.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<!-- Handpicked section -->
<div class='row'>
    <div class='medium-12 columns'>
      <img src="images/handpicked_mockup.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
<!-- Handpicked section -->




<div class='full'>
  <div class='row'>
    <div class='large-12 columns centered-text'>
      {% include section-header.html title="Stock Selection Screener" %}
      <div class='spacing'></div>
      <p>
        Choose the stocks from the stock list. By default, all of the stocks shown on the list passed IMP criteria. You can also adjust the list below by using header filter.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<!-- Stock Selection section -->
<div class='row'>
    <div class='medium-12 columns'>
      <img src="images/stockscreener.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
<!-- Stock Selection section -->

<div class='full'>
  <div class='row'>
    <div class='large-12 columns centered-text'>
      {% include section-header.html title="Additional Info" %}
      <div class='spacing'></div>
      <p>
        See your focus stock from Technical point of view and their Related Headlines. Type in the symbol of the stock you wish to inspect on the upper-left corner.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var symbol = 'AAPL';
</script>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_4c523"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">

    
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": symbol,
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Light", 
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "withdateranges": true,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "news": [
    "headlines"
  ],
  "container_id": "tradingview_4c523"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<div class='three spacing'></div>

<style>
div.relative {
  position: relative;
  left: 230px;
  border: 0px solid #73AD21;
}
</style>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns centered-text'>
      {% include section-header.html title="Profit Screener" %}
      <div class='spacing'></div>
      <p>
        Adjust how much you want to make based on ROI or premium collected from the below screener.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<!-- Profit screener section -->
<div class='row'>
    <div class='medium-12 columns'>
      <img src="images/optionchain.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
<!-- Profit screener section -->




{% include our-customers.html %}